[submodule "frontend"]
	path = frontend
	url = https://github.com/davidmather/fourthYearProjectFrontend
[submodule "licode"]
	path = licode
	url = https://github.com/davidmather/fourthYearProjectLicode
[submodule "janus"]
	path = janus
	url = https://github.com/davidmather/fourthYearProjectDocker-janus
[submodule "database"]
	path = database
	url = https://github.com/davidmather/fourthYearProjectDatabase
[submodule "images"]
	path = images
	url = https://github.com/davidmather/fourthYearProjectImages
[submodule "login"]
	path = login
	url = https://github.com/davidmather/fourthYearProjectLogin
[submodule "AccountsService"]
	path = AccountsService
	url = https://github.com/davidmather/fourthYearProjectAccountsService
[submodule "accountsService"]
	path = accountsService
	url = https://github.com/davidmather/fourthYearProjectAccountsService
[submodule "Images"]
	path = Images
	url = https://github.com/davidmather/fourthYearProjectImages
